/*
 * Copyright (C) 2018 Icenowy Zheng <icenowy@aosc.io>
 *
 * SPDX-License-Identifier: (GPL-2.0+ OR X11)
 */

#include "suniv-f1c100s-licheepi-nano.dts"
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	aliases {
		spi1 = &spi1;
	};

	panel: panel {
		/* compatible = "urt,umsh-8596md-t", "simple-panel"; */
		compatible = "qiaodian,qd43003c0-40", "simple-panel";
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			panel_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};
	};

	i2c0: i2c@1C27000 {
		compatible = "allwinner,sun6i-a31-i2c";
		reg = <0x01C27000 0x400>;
		interrupts = <7>;
		clocks = <&ccu CLK_BUS_I2C0>;
		resets = <&ccu RST_BUS_I2C0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c0_pins>;
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <0>;
	};

	pwm: pwm@1c21000 {
		#pwm-cells = <3>;
		compatible = "allwinner,sun7i-a20-pwm";
		reg = <0x01C21000 0x08>;
		clocks = <&osc24M>;
		pinctrl-names = "default";
		pinctrl-0 = <&pwm1_pin>;
		status = "okay";
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 1 1000000 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <6>;
		status = "okay";
	};

	reg_vcc3v3: vcc3v3 {
                compatible = "regulator-fixed";
                regulator-name = "vcc3v3";
                regulator-min-microvolt = <3300000>;
                regulator-max-microvolt = <3300000>;
        };

	lradc: lradc@1C23400 {
        	vref-supply = <&reg_vcc3v3>;

                compatible = "allwinner,sun4i-a10-lradc-keys";
                reg = <0x01C23400 0x400>;
                interrupts = <22>;
                status = "okay";
        };
};

&lradc {
        // vref-supply = <&reg_vcc3v0>;

        // keymap for low-resolution ADC input driver
        // (pulling voltage down to different levels 0V-2V on LRADC pin causes this to emit different
        // keyboard codes - pull pin back up to 3.3V when button is off)
        button-200 {
                label = "Up";
                linux,code = <KEY_UP>;
                channel = <0>;
                voltage = <200000>;
        };

        button-400 {
                label = "Down";
                linux,code = <KEY_DOWN>;
                channel = <0>;
                voltage = <400000>;
        };

        button-600 {
                label = "Left";
                linux,code = <KEY_LEFT>;
                channel = <0>;
                voltage = <600000>;
        };

        button-800 {
                label = "Right";
                linux,code = <KEY_RIGHT>;
                channel = <0>;
                voltage = <800000>;
        };
};

&be0 {
	status = "okay";
};

&de {
	status = "okay";
};

&tcon0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb666_pins>;
	status = "okay";
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};

&pio {
	i2c0_pins: i2c0 {
		pins = "PE11", "PE12";
		function = "i2c0";
		bias-pull-up;
	};

	pwm1_pin: pwm1_pin {
		pins = "PE6";
		function = "pwm1";
	};

	spi1_pins_a: spi1-pins-pc {
		/* CLK, CS, MISO, MOSI */
		pins = "PA2", "PA0", "PA3", "PA1";
		function = "spi1";
	};

	enc28j60_pins: enc28j60_pins {
		pins = "PE3";
		function = "irq";
		bias-pull-up;
	};
};

&spi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins_a>;
	status = "okay";

	/* spidev@0x00 { */
	eth1: enc28j60@0 {
                compatible = "microchip,enc28j60";
                reg = <0>;
		interrupt-parent = <&pio>;
		interrupts = <4 3 2>; /* 4 3:PE3, 2:IRQ_TYPE_EDGE_FALLING */
		gpios = <&pio 4 3 GPIO_ACTIVE_HIGH>;
		spi-max-frequency = <12000000>;
		status = "okay";
		/* These are required only if internal pull-up is used for the IRQ pin */
		pinctrl-names = "default";
		pinctrl-0 = <&enc28j60_pins>;
	};
};

&i2c0 {
    pinctrl-0 = <&i2c0_pins>;
    pinctrl-names = "default";
    status = "okay";

    ns2009: ns2009@48 {
        compatible = "nsiway,ns2009";
        reg = <0x48>;
    };
};

&codec {
	allwinner,audio-routing =
		"Headphone", "HP",
		"Headphone", "HPCOM",
		"MIC", "Mic";
	status = "okay";
};
